VITE_API_BASE_URL=http://localhost:8080

# Azure AD / Entra ID - app "Pedidos360-SPA" (tenant DSY1107005V)
VITE_AZURE_TENANT_ID=ef1334d1-a804-410f-8134-10879df7f5df
VITE_AZURE_CLIENT_ID=51f7e0fc-5612-4909-b8f4-4f810f5176c4
VITE_AZURE_REDIRECT_URI=http://localhost:5173
